<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="public/css/bootstrap.min.css">

    <title>Noob Framework</title>
</head>
<body>

    <div class="container">
        <h1>Mecearia</h1>
        <h2>Clientes</h2>
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th class="text-center">Id</th>
                    <th class="text-center">Nome</th>
                    <th class="text-center">E-mail</th>
                    <th class="text-center">Telefone</th>
                    <th class="text-center">Ações</th>
                </tr>
            </thead>

            <tbody>
                <?php foreach($clients as client) { ?>
                    <tr>
                        <td>?php echo $client['id']; ?></td>
                        <td>?php echo $client['nome']; ?></td>
                        <td>?php echo $client['email']; ?></td>
                        <td>?php echo $client['telefone']; ?></td>
                        <td>
                            <a href="cliente/edit/<?php echo['id'] ?>"<button class="btn btm-primary">Editar</button>
                            <a href="cliente/delete/<?php echo['id'] ?>"<button class="btn btm-danger">Apagar</button>
                        </td>
                    </tr>

                    <?php } ?>
                    <form class="form-horizontal" action="/basicCrud/modules/record" method="POST" role="form">
                    
                        <tr class="bg-info">
                            <td><input type="text" name="nome" class="form-control" id="title" placeholder="Nome" required></td>
                            <td colspan="2"><input type="text" name="email" class="form-control" id="email" placeholder="Email" required></td>
                            <td><input type="text" name="telefone" class="form-control" id="telefone" placeholder="Telefone"></td>
                            <td><input type="submit" value="Adicionar módulo" class="btn btn-default"></td>
                            
                        </tr>
                    
                    </form>
            </tbody>
        </table>
    </div>
    
</body>
</html>